{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".ios.js", ".android.js", ".js", ".json"],
      "alias": {
        "@actions": "./src/actions",
        "@components": "./src/components",
        "@reducers": "./src/reducers",
        "@screens": "./src/screens",
        "@services": "./src/services"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
